body, html {
	margin : 0px;
	font-family:'Share Tech Mono', monospace;
}

.wrapper {
	max-width: 200px;
	margin: auto;
}

.heading {
	display: flex;
	font-family:inherit;
	font-size: 1rem;
	margin-bottom:10px;
}

.lines {	
	display: flex;
	background: #E0FBFC;
	padding: 5px 5px 5px 0px;
	font-family: inherit;
	font-size: 0.85rem;
	width:fit-content;
}

#mycanvas {
	margin-top:0px;	
}
