body, html {
	margin : 0px;
	font-family:'Share Tech Mono', monospace;
}

.wrapper {
	max-width: 400px;
	margin: auto;
}

.gameside, .manualside {
	width:50%;
	float:left;
}

.heading, .credits {
	font-family:inherit;
	font-size: 1rem;
	margin: 12px 0px;
}

.lines {	
	display: flex;
	background: #E0FBFC;
	padding: 5px 5px 5px 0px;
	font-family: inherit;
	font-size: 0.85rem;
	width:fit-content;
}

.credits {
	font-size: 0.75rem;	
}

.postscript {
	padding:20px;
}

.instructions, .postscript {
	font-family: inherit;
	font-size: 0.75rem;
}

.instructions ul {
	margin: 0px 10px;
	padding-inline-start: 23px;
}

#mycanvas {
	margin-top:0px;	
}

