body, html {
	margin : 0px;
	font-family: monospace;
	background-color:#54426B;
	color:white;
}

.wrapper {
	max-width: 404px;
	margin: auto;
}

.renderer {
	margin:auto;
	width:calc(50% - 2px);
	border:1px solid;
	height: 423px;
}

.heading, .credits {
	font-family:inherit;
	font-size: 1rem;
	margin: 24px 0px;
}

.lines {
	display: flex;
	padding: 5px;
	font-family: inherit;
	font-size: 0.85rem;
	width:fit-content;
}

.manualside {
	margin:24px 0px;
}

.credits {
	font-size: 0.75rem;	
}

.credits a {
	color: #E7DFC6;
}

.postscript {
	padding:0px;
}

.instructions, .postscript {
	font-family: inherit;
	font-size: 0.75rem;
}

.instructions ul {
	padding-inline-start: 0px;
	list-style-type:none;
}


